<article class="producto-card">


    <!-- ========================= -->
    <!-- IMAGEN PRODUCTO -->
    <!-- ========================= -->


    <div class="producto-imagen">


        <img

            [src]="imagen"

            [alt]="nombre">





        <!-- BADGE AGOTADO -->

        @if(stock <= 0){


            <span class="badge-agotado">


                ❌ Agotado


            </span>


        }


    </div>








    <!-- ========================= -->
    <!-- INFORMACIÓN PRODUCTO -->
    <!-- ========================= -->


    <div class="producto-info">





        <h3>

            {{nombre}}

        </h3>






        <div class="precio">


            S/. {{precio}}


        </div>









        <!-- ESTADO STOCK -->


        <div class="stock-container">



            @if(stock > 5){


                <span class="stock disponible">


                    ✔ Disponible


                </span>


            }


            @else if(stock > 0){


                <span class="stock pocas">


                    ⚠ Últimas {{stock}} unidades


                </span>


            }


            @else{


                <span class="stock agotado">


                    ❌ Sin stock


                </span>


            }



        </div>









        <!-- ========================= -->
        <!-- ACCIONES ADMIN -->
        <!-- ========================= -->


        @if(rol === 'ADMIN'){



            <button


            class="btn-editar"


            (click)="editarProducto()">



                <i class="bi bi-pencil-square"></i>


                Editar producto



            </button>



        }









        <!-- ========================= -->
        <!-- ACCIÓN CLIENTE -->
        <!-- ========================= -->


        @if(rol === 'CLIENTE' && modo === 'tienda'){





            @if(stock > 0){



                <button


                class="btn-carrito"


                (click)="agregarCarrito()">



                    <i class="bi bi-cart3"></i>


                    Agregar al carrito



                </button>



            }


            @else{



                <button


                class="btn-agotado"


                disabled>



                    <i class="bi bi-x-circle"></i>


                    Producto agotado



                </button>



            }



        }









        <!-- ========================= -->
        <!-- VER DETALLE -->
        <!-- ========================= -->


        <button


        class="btn-detalle"


        (click)="verDetalle()">



            <i class="bi bi-eye"></i>


            Ver detalle



        </button>






    </div>





</article>